<div>
    <nav-component></nav-component>
    <div class="padded">

        <div class="base-header">
            <h3>Projects</h3>
        </div>

        <div class="full-width padded row">
            <div class="full-width project card card-block bg-faded">
                <div class="inlined">
                    <div class="padded-row row">
                        <div class="col-xs-12 col-md-11">
                            <label>Filters:</label>
                        </div>
                        <div class="col-xs-12 col-md-1">
                            <button class="btn" v-on:click="clearFilters"><span class="fa fa-times"> Clear</span></button>
                        </div>
                    </div>
                    
                    <TypeAhead
                        v-model="model"
                    
                        placeholder="Select skills..."
                        src=":keyword"
                        :getResponse="getResponse"
                        :minChars="1"
                        :fetch="fetch"
                        :onHit="hit"
                    ></TypeAhead>
                </div>
                <div class="padded">
                    <div class="skill-inlined" v-for="skill in filteredSkills">
                        <btn class="tag card card-block bg-faded" v-on:click="removeFilter(skill)" >
                            {{skill}}
                        </btn>
                    </div>
                </div>
            </div>
        </div>

        <div class="project-row">
            <div class="well padded" v-for="project in projects">
                <div class="project card card-block bg-faded">
                    <h3>{{project.name}}</h3>
                    <img v-if="project.images && project.images.length > 0" :src="project.images[0]" />
                    <div class="textblock">
                        {{project.description}}
                    </div>
                    <div>
                        <label>Repository:</label> <a :href="project.repository" class="no-style link"><span :class="'fa fa-' + project.repositoryType"> {{prettyRepository(project.repositoryType)}}</span></a>
                    </div>
                    <div v-if="project.website">
                        <label>Website:</label> <a :href="project.website" class="no-style link">{{project.websiteText}}</a>
                    </div>
                    <div>
                        <label>Technologies:</label>
                        <div class="skill-inlined" v-for="skill in project.skills">
                            <div class="tag card card-block bg-faded">
                                {{skill}}
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
</div>