@import '../../style.scss';

.project-row {
    @include only-for-desktop {
        -moz-column-width: 32vw;
        -webkit-column-width: 32vw;
        -moz-column-gap: 0.5vh;
        -webkit-column-gap:0.5vh; 
    }
    @include only-for-mobile {
        -moz-column-width: 99vw;
        -webkit-column-width: 99vw;
        -moz-column-gap: 0.5vh;
        -webkit-column-gap:0.5vh; 
    }

}

.well {
    display: inline-block;
    padding:  .25rem;
    width:  100%; 
}

.padded {
    padding: 1vh;
    margin: 0;
}

.skill-inlined {
    display: inline;
    padding-left: 4px;
    btn {
        cursor: pointer;
    }
}

.full-width {
    width: 100%;
}

.padded-row {
    padding-bottom: 4px;
}

.tag {
    font-family: Courier New, Courier, monospace;
    background-color: $background-color;
    color: #000000;
    display: inline-block;
    padding: 4px;
}

.project {

    padding: 1vh;
    background-color: #e9ebee;
    border-radius: 10px;
    img {
        object-fit: scale-down;
        height: 25vh;
    }

    .textblock {
        width: inherit;
        padding: 2px;
        word-wrap: normal;
    }

    label {
        font-weight: bold;
    }


}

.no-style {
    color: #000000;
    
}
