<div>
    <nav-component></nav-component>
    <intro-component></intro-component>
    <about-me-component></about-me-component>
    <skills-component></skills-component>
    <social-component></social-component>
    <contact-component></contact-component>
</div>