@import '../../style.scss';


.skills-block {
    .skills-header {
        width: 100%;
        height: 15vh;
        min-height: 15vh;
        overflow: hidden;
        position: relative;
        background: $accent-color;
        background-position: 50%;
    
        h3 {
            top: 7vh;
            right: 0;
            width: 100%;
            text-align: center;
            margin: 0 auto;
            z-index: 2;
            display: block;
            opacity: 0.8;
            font-size: 4vw;
            color: $background-color;
        }
        
        img {
            z-index: 1;
            width: 100%;
            top: -80vh;
            opacity: .2;
            position: relative;
        }
    }


    @include only-for-desktop() {
        $skills-height: 40vh;
        //min-height: $skills-height;
        //max-height: $skills-height;
        
        .skills-list {
            display: inline-block;
            div {
                display: inline-block;
                padding-left: 4px;
                padding-top: 2px;
                .tag {

                    font-family: Courier New, Courier, monospace;
                    background-color: $background-color;
                    color: #000000;
                    display: inline-block;
                    padding: 4px;
                }
            }


            // ul {
            //     $numColumns: 6;
            //     width: 100vw;
            //     height: $skills-height; /*your fixed height*/
            //     overflow: auto;
            //     scroll-behavior: smooth;
            //     -webkit-column-count: $numColumns;
            //        -moz-column-count: $numColumns;
            //             column-count: $numColumns;
            //     li {
            //         position: relative;
                     
            //         overflow-y: hidden;
            //         list-style-type: none;
            //         font-size: 20px;

            //     }
            // }
        }
    }

    .row {
        padding-left: 10vw;
        padding-right: 10vw;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
}