<div class="skills-block">
    <div class="skills-header"> 
        <h3 v-parallax="0.0">Skills</h3>
        <img v-parallax="0.4" src="/content/keyboard.jpeg" />
    </div>
    <div>
        <button class="btn btn-primary" :click="showAll()">Show All</button>
        <button class="btn" :click="showFilters()">Show Filters</button>
    </div>
    <div class="row">
        <div v-for="category in categories" class="col-xs-6 col-md-3 col-lg-1"><input type="checkbox" class="form-check-input" v-model="checks[category]"> <span>{{category}}</span></div>
    </div>
    <div class="skills-list">
        <div v-for="skill in filteredSkills()">
            <router-link class="btn tag card card-block bg-faded" v-if="skill.projects.length > 0" :to="{ path: '/projects', query: { skill: skill.skill.name }}">{{skill.skill.name}}</router-link>
            <div class="tag card card-block bg-faded" v-else>{{skill.skill.name}}</div>
        </div>
    </div>
</div>