@import '../../style.scss';

.social-header {
    width: 100%;
    height: 15vh;
    min-height: 15vh;
    overflow: hidden;
    position: relative;
    background: $accent-color;
    background-position: 50%;

    h3 {
        top: 7vh;
        right: 0;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        z-index: 2;
        display: block;
        opacity: 0.8;
        font-size: 4vw;
        color: $background-color;
    }
    
    img {
        z-index: 1;
        width: 100%;
        top: -80vh;
        opacity: .2;
        position: relative;
    }
}

.social-group {
    padding: 0;
    .social-icon {
        a {
            color: inherit; /* blue colors for links too */
            text-decoration: inherit; /* no underline */
        }
        list-style: none;
        text-align: center;
        font-size: 24pt;
        padding-top: 2vh;
    }
}

