<div>
    <div class="social-header">
        <h3 v-parallax="0.0">Social</h3>
        <img v-parallax="0.4" src="/content/controller.jpeg" />
    </div>

    <ul class="social-group">
        <li class="social-icon"><a href="https://www.linkedin.com/in/robertclabough"><span class="fa fa-linkedin"></span></a></li>
        <li class="social-icon"><a href="https://twitter.com/robertclabough"><span class="fa fa-twitter"></span></a></li>
        <li class="social-icon"><a href="https://bitbucket.org/rclabough/profile/repositories?visibility=public"><span class="fa fa-bitbucket"></span></a></li>
        <li class="social-icon"><a href="https://github.com/rclabough"><span class="fa fa-github"></span></a></li>
    </ul>
</div>
