<div id="contactComponent">
    <div class="contact-header">
        <h3 v-parallax="0.0">Contact</h3>
        <img v-parallax="0.4" src="/content/server.jpg" />
    </div>
    <div id="contactContainer">
        <div>{{contact.address.street1}}</div>
        <div v-if="address.street2">{{contact.address.street2}}</div>
        <div>{{contact.address.city}} {{contact.address.state}}, {{contact.address.zip}}</div>
        <div>{{contact.phone}}</div>
        <div>{{contact.email}}</div>
    </div>
</div>