@import '../../style.scss';

#contactComponent {
    .contact-header {
        width: 100%;
        height: 15vh;
        min-height: 15vh;
        overflow: hidden;
        position: relative;
        background: $accent-color;
        background-position: 50%;

        h3 {
            top: 7vh;
            right: 0;
            width: 100%;
            text-align: center;
            margin: 0 auto;
            z-index: 2;
            display: block;
            opacity: 0.8;
            font-size: 4vw;
            color: $background-color;
        }

        img {
            z-index: 1;
            width: 100%;
            top: -235vh;
            opacity: .2;
            position: relative;
        }
    }

    #contactContainer {
        width: 100%;
        div {
            width: 100%;
            align-content: center;
            text-align: center;
            font-size: 26pt;
        }
    }
}