@import '../../style.scss';

.intro-block {
    width: 100%;
    height: 30vh;
    min-height: 400px;
    overflow: hidden;
    position: relative;
    background: $accent-color;
    background-position: 50%;

    h2 {
        top: 40;
        right: 0;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        z-index: 2;
        display: block;
        opacity: 0.8;
        font-size: 8vw;
        color: $background-color;
    }
    
    img {
        z-index: 1;
        width: 100%;
        top: -80vh;
        opacity: .2;
        position: relative;
    }
}