$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 768px;

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Sass Bootstrap */

/* Small devices (tablets, 768px and up) */
@mixin only-for-mobile {
    @media (max-width: $screen-sm-min) { 
        @content
    }
}

@mixin only-for-desktop {
    @media (min-width: $screen-sm-min) { 
        @content
    }
}

/* GLOBAL COLORS */ 

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$background-color: #fff;
$accent-color: #000033;

body {
    font-family: $font-stack;
    overflow-x: hidden;
}

.base-header {
    background-color: $accent-color;
    color: $background-color;
    width: 100%;
    min-height: 11vh;
    h3 {
        width: inherit;
        height: inherit;
        text-align: center;
        vertical-align: middle;
        padding-top: 2vh;
    }
}

.link {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}