<div class="nav justify-content-end">
    <div class="d-none d-md-block">
        <ul>
            <li><a class="white-link" href="https://www.dropbox.com/s/y0witxfkk56p2ke/RobertClabough_Resume.pdf?dl=0">Résumé</a></li>
            <li><a class="white-link" href="#contactComponent" v-smooth-scroll="{ duration: 1000, offset: -50 }">Contact</a></li>
            <li><router-link class="white-link" :to="{ path: '/projects'}">Projects</router-link></li>
            <li><router-link class="white-link" :to="{ path: '/'}">Main</router-link></li>
        </ul>
    </div>
    <div class="d-block d-md-none">
        <!--Navbar-->
        <div>
                <!-- Using modifiers -->
            <b-btn v-b-toggle.mobile-menu class="btn"><icon name="bars"></icon></b-btn>
            
            <!-- element to collapse -->
            <b-collapse id="mobile-menu">
                <b-card v-for="(item, index) in navpoints" :key="index">
                    {{item.text}}
                </b-card>
            </b-collapse>
        </div>
                    
    </div>
</div>