@import '../../style.scss';

.nav {
    color: $background-color;
    background-color: $primary-color;
    width: 100%;

    @include only-for-desktop() {
        min-height: 2vw;
        ul {
            list-style: none;
           li {
               display: inline;
               cursor: pointer;
               &:hover {
                   text-decoration: underline;
               }
               .white-link {
                   color: $background-color;
               }
           } 
        }
    }

    @include only-for-mobile() {
        min-height: 10vw;
    }



}

.right-align {
    position: absolute;
    right: 0px;
}

