<div class="block">
    <div class="row">
        <div class="col-xs-12 col-md-8 text-blob">
            <h3>About Me</h3>
            <div>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</div>
            <div>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</div>
            <div>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</div>
        </div>
        <div class="col-xs-12 col-md-4 padded-image">
            <div>
                <img class="profile-image" src="/content/profile.jpg"/>
            </div>
        </div>
    </div>
</div>