@import '../../style.scss';



.block {
    width: 100%;
    background-color: $background-color;
    color: $primary-color;
    @include only-for-desktop() {
        min-height: 20vh;
    }
    @include only-for-mobile() {
        min-height: 30vh;
    }
}

.padded-image {
    padding:1vh;
    min-height: inherit;
    display:table-cell; 
    vertical-align:middle; 
    text-align:center; 
    
}

.profile-image {
    $circle-size: 20vh;
    border-radius: 50%;
    width: $circle-size;
    height: $circle-size;
    margin-left: auto;
    margin-right: auto;
}

.text-blob {
    div {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}